@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}
a {
  text-decoration: none;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid rgb(255, 255, 255);
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  position: relative;
  display: flex;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, .85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9rem;
}
.new{
  position: relative;
  display: flex;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-family: Arial, Helvetica, sans-serif, Roboto;
}
.new::before{
  content: attr(data-duration);
  position: absolute;
  background-color: #111;
  left: 1%;
  bottom: 98%;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: 25px;
 
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
 
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}


.video-details {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif, Roboto;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
  font-family:  Roboto;
}
.video-channel-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name,
.video-metadata {
  color: #555;
  font-family: Arial, Helvetica, sans-serif, Roboto;
}
.video-metadata-black, .vivideo-channel-name-black {
  color: rgb(189, 189, 189);
}
.vivideo-channel-name-black:hover {
  color: rgb(255, 247, 247);
}

.video-section-title {
  grid-column: 1 / -1;
  margin: -.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  font-family: Roboto;
  font-size: 20px;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos{
  background-color: rgb(236, 235, 235);
  border-radius: .3em;
}
.categories {
  padding: 1rem 2rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #1111;
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: rgb(8, 8, 8);
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #EEE;
}

.category:last-child {
  margin-right: 0;
}


.Mvideo-logo {
  box-align: left;
  height: 70px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.Mvideo-logo:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.turn:hover{
  box-shadow:
    1px 1px red,
    2px 2px red,
    3px 3px orange,
    4px 4px orange,
    5px 5px yellow,
    6px 6px yellow,
    7px 7px green,
    8px 8px green,
    9px 9px cyan,
    10px 10px cyan,
    11px 11px blue,
    12px 12px blue,
    13px 13px violet,
    14px 14px violet;
  -webkit-transform: translateX(-14px);
  -moz-transform: translateX(-14px); 
  transform: translateX(-14px);

 
}

a { 
  text-decoration: none; 
  color:black !important;
 } 
 .main{
  align-items: center;
  display: flex;
  position:absolute; left:2%; top:100%; max-width: 900px; height:75%; z-index:1
 }
 .tm{
   margin-top:10px;
   font-family: Arial, Helvetica, sans-serif, Roboto;
   height:100%;
 }
 hr{
  border:1px solid grey;
}
.table{
  z-index: 0;
  position: relative;
  align-self: center;
  top: 100vh;
  font-family: Arial, Helvetica, sans-serif, Roboto;
}
  .nav-top {
    display:  flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    background: rgba(60, 60, 60, 0.2); 
    backdrop-filter: blur(12px); 
  }
  .nav-top .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
  }
  
  .nav-is-toggled .nav-drill {
    transform: translateX(0);
  }
  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-drill {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;
  }
  .nav-items {
    flex: 0 0 100%;
  }
  .nav-item:not(:last-child) {
    border-bottom: solid 1px #daf9f4;
  }
  .nav-link {
    display: block;
    padding: 0.875em 1em;
    background-color: #fff;
    color: #606060;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 300;
    font-family: AmericanDAD;
  }
  .nav-expand-content {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #daf9f4;
    transition: 0.3s;
    visibility: hidden;
  }
  .nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #20b49c;
  }
  .nav-expand-content .nav-link {
    background-color: #daf9f4;
  }
  .nav-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: #20b49c !important;
    color: #fff;
  }
  .nav-expand-content .nav-back-link::before {
    content: "chevron_left";
    margin-right: 0.5em;
    font-family: "Material Icons";
  }
  .nav-expand-link {
    display: flex;
    justify-content: space-between;
  }
  .nav-expand-link::after {
    content: "chevron_right";
    flex: 0 1 auto;
    font-family: "Material Icons";
  }
  .nav-expand.active > .nav-expand-content {
    transform: translateX(0);
    visibility: visible;
  }
  .nav-expand .nav-expand-content {
    background-color: #daf9f4;
  }
  .nav-expand .nav-expand-content .nav-link {
    background-color: #daf9f4;
  }
  .nav-expand .nav-expand-content .nav-expand-content {
    background-color: #aff1e6;
  }
  .nav-expand .nav-expand-content .nav-expand-content .nav-link {
    background-color: #aff1e6;
  }
  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    background-color: #84e9d9;
  }
  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    background-color: #84e9d9;
  }
  .menu-icons {
    display: grid;
    font-family: AmericanDAD;
    font-size: 40px;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 2rem;
  }